@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/Abel-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/ShadowsIntoLight-Regular.ttf') format('ttf');
}
